# Ignore image files
*.png
*.jpg
*.jpeg
*.gif

# Ignore IDE config (JetBrains/PyCharm)
.idea/


# Ignore the entire dataset directory and model file
COVID-Data-Radiography/
COVID-Data-Radiography.zip
best_model.pth

# Ignore logs and TensorBoard
*.log
runs/

# Ignore outputs and training logs
outputs/
training_log.csv

# Ignore system/IDE cache files
.DS_Store
__pycache__/
.ipynb_checkpoints/
.env
